[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DTSg"]
	path = DTSg
	url = https://github.com/gisler/dtsg
[submodule "RPhosFate"]
	path = RPhosFate
	url = https://github.com/gisler/rphosfate
